$font: 'webfontregular', Arial, sans-serif;
$font_a: Arial, sans-serif;
$font_b: 'sansationbold', Arial, sans-serif;
$font_l: 'sansation_lightregular', Arial, sans-serif;




$donker: #626160;
$green: #909e00;
$pink: #ea3374;

$purple: #6600ae;
$blue: #009dd7;
$org: #ed6900;


$font_m3: 'museo500';
$font_m5: 'museo500';
$font_m7: 'museo700';
